<ul class="home">
    <li class="home">
        <h2><%= link_to "Passengers", passengers_path %></h2>
    </li>
    <li class="home">
        <h2><%= link_to "Drivers", drivers_path %></h2>
    </li>
</ul>