<h1>Drivers</h1>
<ul>
  <% @drivers.each do |driver|%>
    <li>
      <%= link_to driver.name, driver_path(driver)%>
      <%= "VIN Number: #{driver.vin}" %>
      <%= link_to "Edit", edit_driver_path(driver)%> 
      <%= link_to "Delete", driver_path(driver), method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
  <%end%>
</ul>

