<h1>Driver Details</h1>

<p>
  Driver: <%= @driver.name %>
</p>

<%# <%= link_to "Edit Task", edit_task_path(@driver.id) %>
<%# <%= link_to "Delete", task_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"} %> 

