<h1>Driver Details</h1>

<p>
  Driver: <%= @driver.name %>
</p>
<p>
  VIN: <%= @driver.vin %>
</p>

<%= link_to "Edit Driver", edit_driver_path(@driver.id) %>
<%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"} %> 

