* {
    font-family: 'Montserrat', sans-serif;
}

main {
  margin: 2rem 5rem;
}

img {
  width: 200px;
  height: auto;
  display: block;
}

a {
  color: rgb(17, 184, 170);
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
  padding: 1.5rem 0 1.5rem 0;
  background-color:  white;
}

nav a {
  color: rgb(97, 82, 116);
}

nav ul {
  display: inline;
}

nav ul li {
  display: inline;
  margin-left: auto;
}

ul {
display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* see notes below */
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem 5rem;
}

li {
display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #141414;
  margin: 2rem;
  padding: 1rem;
}

h4 {
  font-size: 1.25rem;
}

div.actions {
  display: flex;
  flex-flow: row wrap;  
}

.actions a {
  margin-right: 1rem;
}