* {
    font-family: 'Montserrat', sans-serif;
}

main {
  margin: 2rem 5rem;
}

img {
  width: 200px;
  height: auto;
  display: block;
}

a {
  color: rgb(57, 198, 233);
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
  padding: 1.5rem 0 1.5rem 0;
  background-color:  white;
}

nav a {
  color: rgb(57, 198, 233);
}

nav ul {
  display: inline;
}

nav ul li {
  display: inline;
  margin-left: auto;
}

ul {
display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* see notes below */
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem 5rem;
  padding: 0;
}

li {
display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #272727;
  margin: 2rem;
  padding: 1rem;
}


h1 {
  font-size: 2.75rem;
  font-weight: 300;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h4 a {
    color: #272727;
}

div.actions {
  display: flex;
  flex-flow: row wrap; 
  justify-content: flex-start 
}

.actions a {
  margin: 1rem 1rem 0 0;
}

.form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  max-width: 30vw;
}

.form div {
  margin-bottom: 10px;
}