img {
  width: 200px;
  height: auto;
  display: block;
}

a {
  color: rgb(97, 82, 116);
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
  margin: 2.5rem 0 1rem .5rem;
  background-color:  rgb(97, 82, 116);
}

nav a {
  color: white;
  font-family: 'Helvetica', sans-serif;
}

nav ul {
  display: inline;
}

nav ul li {
  display: inline;
  margin-left: auto;
}

ul {
display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* see notes below */
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 5rem;
}

li {
display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #5d5e5e;
  margin: 2rem;
  padding: 1rem;
}